<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="PAPSk8LineEJBPU" transaction-type="JTA">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <jta-data-source>java:/jboss/jdbc/Sk8line</jta-data-source>
    <class>br.com.sk8line.common.model.Endereco</class>
    <class>br.com.sk8line.common.model.Estado</class>
    <class>br.com.sk8line.garantia.model.Rma</class>
    <class>br.com.sk8line.garantia.model.TermoGarantia</class>
    <class>br.com.sk8line.pessoa.revendedor.model.EnderecoRevendedor</class>
    <class>br.com.sk8line.pessoa.revendedor.model.Revendedor</class>
    <class>br.com.sk8line.produto.model.Estoque</class>
    <class>br.com.sk8line.produto.model.Produto</class>
    <class>br.com.sk8line.usuario.model.Role</class>
    <class>br.com.sk8line.usuario.model.Usuario</class>
    <class>br.com.sk8line.venda.model.Venda</class>
    <class>br.com.sk8line.venda.model.VendaItem</class>
    <class>br.com.sk8line.pessoa.colaborador.model.Colaborador</class>
    <class>br.com.sk8line.pessoa.cliente.model.ClientePessoaFisica</class>
    <class>br.com.sk8line.pessoa.cliente.model.ClientePessoaJuridica</class>
    <class>br.com.sk8line.pessoa.cliente.model.ClientePFEndereco</class>
    <class>br.com.sk8line.pessoa.cliente.model.ClientePJEndereco</class>
    <class>br.com.sk8line.pessoa.colaborador.model.ColaboradorEndereco</class>
    <class>br.com.sk8line.pessoa.revendedor.model.RevendedorEndereco</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="hibernate.show_sql" value="true"/>
      <property name="hibernate.id.new_generator_mappings" value="false"/>
      <property name="hibernate.format_sql" value="true"/>
      <property name="use_sql_comments" value="true"/>
      <property name="hibernate.default_schema" value="dbo"/>
    </properties>
  </persistence-unit>
</persistence>
